.file-loader {
  display: flex;
  img {
    margin-right: 13px;
  }
  p {
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #fff;
  }
}