.site-options-panel {
  display: flex;
  flex-shrink: 1;
  flex-grow: 0;
  padding: 55px 40px 50px 35px;
  align-items: center;
  justify-content: space-between;
  .slider-buttons {
    display: flex;
    .slide-number {
      margin: 0 14px;
      color: #fff;
      font-weight: bold;
      line-height: 26px;
      .active {
        font-size: 26px;
      }
    }
  }

  & > * {
    @include breakpoint(middle-small) {
      margin: 15px 0;
    }
  }

  @include breakpoint(middle-small) {
    flex-direction: column;
  }
}