/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*</>reset*/
@font-face {
  font-family: 'Akrobat Bold';
  src: url("../fonts/Akrobat-Bold.eot");
  src: url("../fonts/Akrobat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Akrobat-Bold.woff2") format("woff2"), url("../fonts/Akrobat-Bold.woff") format("woff"), url("../fonts/Akrobat-Bold.ttf") format("truetype"), url("../fonts/Akrobat-Bold.otf") format("opentype"), url("../fonts/Akrobat-Bold.svg#Akrobat-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491; }

@font-face {
  font-family: 'Akrobat Regular';
  src: url("../fonts/Akrobat-Regular.eot");
  src: url("../fonts/Akrobat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Akrobat-Regular.woff2") format("woff2"), url("../fonts/Akrobat-Regular.woff") format("woff"), url("../fonts/Akrobat-Regular.ttf") format("truetype"), url("../fonts/Akrobat-Regular.otf") format("opentype"), url("../fonts/Akrobat-Regular.svg#Akrobat-Regular") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491; }

body {
  font-family: "Akrobat Regular", sans-serif;
  text-transform: uppercase; }
  body .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  body a {
    text-decoration: none; }
    body a:hover {
      text-decoration: none; }

.label-menu {
  position: absolute;
  display: none;
  top: 50%;
  left: -100%;
  margin-right: 36px;
  -webkit-transform: translateX(-100%) translateY(-50%);
      -ms-transform: translateX(-100%) translateY(-50%);
          transform: translateX(-100%) translateY(-50%);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.1s;
  transition: all 0.1s; }
  .label-menu:before, .label-menu:after {
    content: '';
    display: none; }
  .label-menu .line {
    width: 64px;
    border: solid 1px #cba570; }
  .label-menu .circle {
    width: 6px;
    height: 6px;
    border: solid 1px #cba570;
    -webkit-border-radius: 50%;
            border-radius: 50%; }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 98px; }
  .logo span:first-child {
    font-family: "Akrobat Bold", sans-serif;
    font-size: 56px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff; }
  .logo span:last-child {
    margin-top: 5px;
    padding-left: 5px;
    font-size: 14px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.3px;
    color: #cba570; }

aside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 327px;
  height: 100vh;
  padding: 55px 0;
  background-color: #131216; }

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 57px; }
  nav a {
    position: relative;
    margin-top: 12px;
    font-size: 14px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.3px;
    color: #ffffff;
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }
    nav a .label-menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    nav a.active, nav a:hover {
      font-weight: bold;
      color: rgba(182, 192, 212, 0.33); }
      nav a.active .label-menu, nav a:hover .label-menu {
        -webkit-transform: translateX(0) translateY(-50%);
            -ms-transform: translateX(0) translateY(-50%);
                transform: translateX(0) translateY(-50%); }

.additional-information {
  position: relative;
  margin-top: 60px;
  padding-bottom: 20px; }
  .additional-information li {
    margin-top: 6px;
    opacity: 0.41;
    font-size: 14px;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 2px;
    color: #ffffff;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    cursor: pointer; }
    .additional-information li:hover {
      opacity: 1; }
  .additional-information:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 37.8px;
    height: 1px;
    opacity: 0.41;
    background-color: #fff; }

footer {
  margin-left: 40px; }
  footer address {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px; }
    footer address > * {
      margin-top: 6px; }
    footer address .phone-number {
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 3.6px;
      color: #fff; }
    footer address .email {
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 3.2px;
      color: #cfa056;
      text-transform: lowercase; }
    footer address .location {
      font-size: 12px;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 2px;
      color: #fff; }
