body {
  background-color: #202228;
  font-family: $font-family-regular;
  text-transform: uppercase;

  .container {
    display: flex;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}