.arrow-to-right {
  display: flex;
  align-items: center;
  cursor: pointer;
  .triangle {
    background: transparent;
    padding: 0;
    position: relative;
    color: #fff;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 100%;
      border: 4px solid transparent;
      border-left: 8px solid #cba570;
      transform: translateX(0) translateY(-50%);
    }
  }
  .line {
    position: relative;
    width: 28px;
    height: 1px;
    background-color: #cba570;
  }
}